/commandline/exceltk.sln.docstates.suo
/commandline/exceltk.suo
/commandline/exceltk/obj
/commandline/exceltk/bin
/src/commandline/exceltk.sln.docstates.suo
/src/commandline/exceltk.suo
/src/commandline/exceltk/obj
/src/commandline/exceltk/bin
