/commandline/exceltk.sln.docstates.suo
/commandline/exceltk.suo
/commandline/exceltk/obj
/commandline/exceltk/bin
/src/commandline/exceltk.sln.docstates.suo
/src/commandline/exceltk.suo
/src/commandline/exceltk/obj
/src/commandline/exceltk/bin
/src/commandline/ExceltkGUI/bin
/src/commandline/ExceltkGUI/obj
/src/commandline/excel/bin/Debug/Excel.dll
/src/commandline/excel/bin/Debug/Excel.pdb
/src/commandline/excel/bin/Debug/ICSharpCode.SharpZipLib.dll
/src/commandline/excel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/commandline/excel/obj/Debug/Excel.csproj.FileListAbsolute.txt
/src/commandline/excel/obj/Debug/Excel.dll
/src/commandline/excel/obj/Debug/Excel.pdb
/src/commandline/exceltk.v12.suo
/src/commandline/excel/obj/Debug/*.cache
/src/excel/*.suo
/src/excel/Exceltk/bin
/src/excel/Exceltk/obj
/src/excel/Exceltk/ExcelToolKit.csproj.user
/src/excel/ExceltkGUI/bin
/src/excel/ExceltkGUI/obj
